.user-card {
    cursor: pointer;
    width: 80%;
    margin: 50px auto;
    border: 5px solid black;
    text-align: center;
    height: 50px;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
}